._*
assets/pdfs/LEY FEDERAL DE LOS TRABAJADORES AL SERVICIO DEL ESTADO REGLAMENTARIA DEL APARTADO B DEL ARTÍCULO 123 CONSTITUCIONAL_1.pdf
assets/pdfs/LEY GENERAL DE TRANSPARENCIA Y ACCESO A LA INFORMACIÓN PÚBLICA_1.pdf
assets/pdfs/LEY REGLAMENTARIA DE LA FRACCIÓN XIII BIS DEL APARTADO B DEL ARTÍCULO 123 DE LA CONSTITUCIÓN POLÍTICA DE LOS ESTADOS UNIDOS MEXICANOS_1.pdf
